{% extends 'base.html.twig' %}

{% block title %}Hello UsuarioController!{% endblock %}

{% block body %}
	<h1>Iniciar sesión</h1>
	<form action="{{ path('usuario_accion_autenticarSesion') }}" method="POST">
		<table>
			<tr>
				<td><label for="username">Rut</label></td>
				<td><input type="text" id="username" name="_username" value="{{ ultimoRutUsuario }}"/></td> <!-- El name debe ser "_username" porque Symfony lo procesa de esa forma. -->
			</tr>
			<tr>
				<td><label for="password">Contraseía</label></td>
				<td><input type="password" id="password" name="_password"/></td> <!-- El name debe ser "_password" porque Symfony lo procesa de esa forma. -->
			</tr>
		</table>
		<button type="submit">Login</button>
	</form>
	
	{% if error %}
		<strong class="alerta-roja">Credenciales incorrectas</strong>
    {% endif %}
{% endblock %}