{% extends 'base.html.twig' %}

{% block title %}Hello ProductoController!{% endblock %}

{% block body %}
	<h1>Listado de productos</h1>
	
	<table border="5px">
	<tr>
		<th>Codigo</th>
		<th>Nombre</th>
		<th>Precio</th>
		<th>Categoria</th>
	</tr>
{% for producto in productos %}
	<tr>
		<td>{{ producto.codigo }}</td>
		<td>{{ producto.nombre }}</td>
		<td>{{ producto.precio }}</td>
		<td>{{ producto.categoria.nombre }}</td>
	</tr>
{% endfor %}
	</table>
{% endblock %}